---
---

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.thumb {
  width: 49%;
  margin-bottom: 1em;
  &:nth-of-type(odd) {
    float: left;
  }
  &:nth-of-type(even) {
    float: right;
  }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==|== primary styles =====================================================
   Author: Steve Barnett | Naga
   ========================================================================== */

@import "normalize";
// @import "compass";
@import "mixins";
@import "variables";
@import "base";

// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-webkit-viewport {
  width : device-width;
}

@-moz-viewport {
  width : device-width;
}

@-ms-viewport {
  width : device-width;
}

@-o-viewport {
  width : device-width;
}

@viewport {
  width : device-width;
}

html {
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color : lighten($primaryColor, 75%);
}


/* ==|== Links ==== */

:not(a):focus {
  outline: none;
}

/* ==|== Figures ==== */

img {
  max-width: 100%;
  height: auto;
}


/* RBCPT */

body {
  font-family: "adelle", serif;
}

.header-main {
  text-align: center;
  a {
    text-decoration: none;
  }
}

.main {
  padding: 1em;
  max-width: 38em;
  margin: 0 auto;
}

a {
    word-wrap: break-word;
}

a:link {
  color: $linkcolor;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: $linkcolorhover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle-sans", sans-serif;
  color: #A63C00;
}

.cta {
  text-align: center;
  a {
    background: $brand-primary;
    border-radius: 0.25em;
    text-decoration: none;
    color: $white;
    display: block;
    padding: 0.5em 1em;
    &:hover {
      background: lighten($brand-primary, 10);
    }
  }
}

.hero {
  text-align: center;
  border: solid 1px darken($brand-primary, 20);
  border-radius: 0.25em;
  padding: 1em;
  font-weight: bold;
  font-family: "adelle sans", sans-serif;
}

.nav, .nav-alt {
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    @media (min-width: 40em) {
      display: inline-block;
    }
  }
  a {
    display: block;
    padding: 0.5em 1em;
    @media (min-width: 40em) {
      display: inline-block;
    }
  }
}

#past-events,
#past-events-special,
#reviews,
#misc,
#eligibility-criteria {
  &:target {
    background: lighten($brand-primary, 45%);
    h4 {
      &:before {
        content: "→";
        display: inline-block;
        padding-right: 0.5em;
        font-size: 1.5em;
        position: relative;
        top: 0.1em;
      }
    }
  }
}

.nav {
    ul {
      background: $brand-primary;
    }
    a {
      color: #fff;
      padding: 0.5em 1em;
      &:hover {
        background: darken($brand-primary, 10%);
      }
    }
}

.nav-alt {
  h4 {
    margin: 2em 0 0 0;
  }
  @media (min-width: 30em) {
    margin: 0 auto;
    max-width: 30em;
  }
  li {
    @media (min-width: 30em) {
      &:after {
        content: ",";
      }
      &:last-child {
        &:before {
          content: " and ";
        }
        &:after {
          content: ".";
        }
      }
    }
  }
  a {
    @media (min-width: 30em) {
      padding: 0.5em 0;
    }
  }
}

.section-header {
  border-bottom: solid 1px #A63C00;
}

.sign-up {
  margin: 3em 0;
}

.sponsors-list {
  list-style: none;
}

.sponsor {
  margin: 1em 0;
}

.sponsor-contribution {
  font-style: italic;
}

.header-main a {
  text-indent: -9999px;
  display: block;
  max-width: 360px;
  background: url('/rails-bridge-cape-town-logo.png') no-repeat center;
  padding-bottom: 25%;
  background-size: 100%;
}
.header-main {
  max-width: 608px;
  margin: 0 auto;
  padding: 0 0.5em;
}
.main {
  padding-top: 0;
}
.hero {
  margin-top: 0;
}

main {
  h1:target,
  h2:target,
  h3:target,
  h4:target {
    background: lighten($brand-primary, 45%);
    &:before {
      content: "→";
      display: inline-block;
      padding-right: 0.5em;
      font-size: 1.5em;
      position: relative;
      top: 0.1em;
    }
  }
}

article:target {
  background: lighten($brand-primary, 45%);
  margin: -0.5em -1em;
  padding: 0.5em 1em;
  h1, h2, h3, h4 {
    margin-top: 0;
    position: relative;
    &:before {
      content: "→";
      font-size: 1.5em;
      position: absolute;
      top: -0.3em;
      left: -2em;
    }
  }
}
