<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://rubyfuza.org/"><img src="images/sponsor_logos/rubyfuza_2014.png" alt="Rubyfuza 2014" class="sponsor-logo"></a>
      <p>Rubyfuza is Africa's premier Ruby conference. It's a conference by developers, for developers.</p>
      <a href="http://rubyfuza.org/#sponsors"><img src="images/sponsor_logos/rubyfuza_2014_sponsors.png" alt="Rubyfuza Sponsors 2014" class="sponsor-logo"></a>
      <p>Since 2011, Rubyfuza with the help of our fantastic sponsors, have been putting the South African Ruby community on the map with great speakers from South Africa, Africa and beyond.</p>
    </li>
    <li class="sponsor">
      <a href="http://www.smashingmagazine.com/"><img src="images/sponsor_logos/smashing-magazine.png" width="215" height="110" alt="Smashing Magazine logo" class="sponsor-logo" /></a>
      <p>Smashing Magazine is an online magazine for professional Web designers and developers.</p>
      <p class="sponsor-contribution">Free e-books for 3 attendees</p>
    </li>
    <li class="sponsor">
      <a href="http://pragprog.com/"><img src="images/sponsor_logos/pragprog_logo.png" alt="Pragprog logo" class="sponsor-logo"/></a>
      <p>Our goal is simple: to improve the lives of developers and have done so for 10 years. We create timely, practical books, audio books and videos on classic and cutting-edge topics to help you learn and practice your craft. We're here to make your life easier. Our titles do not contain any Digital Restrictions Management, we pioneered the "beta book" concept; we'll email your ebook to your Kindle and synch your ebooks amongst your devices via Dropbox, and you can re-download your purchases at any time. </p>
      <p class="sponsor-contribution">Free e-books for 5 attendees</p>
    </li>
  </ul>

</section>
