<section itemscope itemtype="http://schema.org/Event">

  <h1 itemprop="name" class="hidden">
    RailsBridge Cape Town - January 2014
  </h1>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <p>
      Our next event will start on
     <span itemprop="startDate" content="2014-01-31T18:00">Friday 31st January 2014 at 6pm</span>. We are very excited to announce that it will be part of the most excellent <a href="http://rubyfuza.org/">RubyFuza</a>: Africa's premiere Ruby conference.
   </p>

    <div itemscope itemtype="http://schema.org/subEvents">

      <h3 itemprop="name" id="installfest">
        InstallFest
      </h3>

      <p itemprop="startDate" content="2013-01-31T18:00">
        <strong>Friday 31st January 2014, 6pm - 9pm</strong>
      </p>

      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        The InstallFest will take place at the
        <span itemprop="name">
          Strand Tower Hotel
        </span>,
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            Corner Strand and Loop Streets
          </span>
        </span>,
        <span itemprop="addressLocality">Cape Town</span>.
      </p>
    </div>

    <div itemscope itemtype="http://schema.org/subEvents">

      <h3 itemprop="name" id="workshop">Workshop</h3>

      <p itemprop="startDate" content="2014-02-01T09:00"><strong>Saturday 1st February 2014, 9am - 6pm</strong></p>

      <p>Breakfast and lunch will be served.</p>

      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        The Workshop will take place at the
        <span itemprop="name">
          Strand Tower Hotel
        </span>,
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            Corner Strand and Loop Streets
          </span>
        </span>,
        <span itemprop="addressLocality">Cape Town</span>.</p>
    </div>

    <p>
      <a href="http://goo.gl/maps/iWoB9">Google Map for the Strand Tower Hotel</a>
    </p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>.
      This workshop will consist of the
      <a href="http://docs.railsbridgecapetown.org/installfest/">InstallFest</a> and
      <a href="http://docs.railsbridgecapetown.org/curriculum/">"classic" curriculum</a>.</p>

    <p class="cta" id="applyhere">
      <a href="http://eepurl.com/zgRA5">Join our mailing list for updates on RailsBridge Cape Town</a>
    </p>

</section>
