<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.smashingmagazine.com/"><img src="images/sponsor_logos/smashing-magazine.png" width="215" height="110" alt="Smashing Magazine logo" class="sponsor-logo" /></a>
      <p>Smashing Magazine is an online magazine for professional Web designers and developers.</p>
      <p class="sponsor-contribution">Free e-books for 3 attendees</p>
    </li>
    <li class="sponsor">
      <a href="http://pragprog.com/"><img src="images/sponsor_logos/pragprog_logo.png" alt="Pragprog logo" class="sponsor-logo"/></a>
      <p>Our goal is simple: to improve the lives of developers and have done so for 10 years. We create timely, practical books, audio books and videos on classic and cutting-edge topics to help you learn and practice your craft. We're here to make your life easier. Our titles do not contain any Digital Restrictions Management, we pioneered the "beta book" concept; we'll email your ebook to your Kindle and synch your ebooks amongst your devices via Dropbox, and you can re-download your purchases at any time. </p>
      <p class="sponsor-contribution">Free e-books for 5 attendees</p>
    </li>
    <li class="sponsor">
      <a href="http://www.abookapart.com/"><img src="images/sponsor_logos/aba-logo.png" alt="A Book Apart logo" class="sponsor-logo" /></a>
      <p>A Book Apart publishes highly detailed and meticulously edited examinations of single topics. We produce brief books of about 100 pages - the perfect size in terms of subject depth and coverage for topics like HTML5, CSS3, content strategy, responsive web design, and more.</p>
      <p class="sponsor-contribution">Free e-books for 3 attendees, and a &dollar;25 gift card</p>
    </li>
  </ul>

</section>
