<section>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <p>
      Our next event will be in <strong>April 2014</strong>. Watch this space or <a href="http://eepurl.com/zgRA5">our mailing list</a> for more information closer to the time.
   </p>

    <h3 id="pastevents">
      Past Events
    </h3>

    <p>
        We've run events in <a href="2013-07.html">July 2013</a>, <a href="2013-10.html">October 2013</a>, and <a href="2014-01.html">January 2014</a>. Read <a href="2013/08/01/railsbridge-july-2013-review.html">the July review</a> and <a href="2013/11/02/railsbridge-october-2013-review.html">the October review</a> to see how things went.
    </p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>.
    </p>

    <p class="cta" id="applyhere">
      <a href="http://eepurl.com/zgRA5">Join our mailing list for updates on RailsBridge Cape Town</a>
    </p>

</section>
