<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.smashingmagazine.com/"><img src="images/sponsor_logos/smashing-magazine.png" width="215" height="110" alt="Smashing Magazine logo" class="sponsor-logo" /></a>
      <p>Smashing Magazine is an online magazine for professional Web designers and developers.</p>
      <p class="sponsor-contribution">Free e-books for 3 attendees</p>
    </li>
  </ul>

</section>
