<section>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <p>Our next event will be held in <strong>July 2014</strong>. Watch <a href="http://www.meetup.com/RailsBridge-Cape-Town/">our meetup group</a> for details.</p>

    <h3 id="pastevents">
      Past Events
    </h3>

    <p>
        We've run events in <a href="2013-07.html">July 2013</a>, <a href="2013-10.html">October 2013</a>, <a href="2014-01.html">January 2014</a>, and April 2014. Read <a href="2013/08/01/railsbridge-july-2013-review.html">the July review</a>, <a href="2013/11/02/railsbridge-october-2013-review.html">the October review</a>, <a href="/2014/02/02/railsbridge-january-2014-review.html">the January 2014 review</a>, and <a href="/2014/05/02/railsbridge-april-2014-review.html">the April 2014 review</a> to see how things went.
    </p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>.
    </p>

    <p class="cta" id="applyhere">
      <a href="http://eepurl.com/zgRA5">Join our mailing list for updates on RailsBridge Cape Town</a>
    </p>

</section>
