<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.krs.co.za/"><img src="images/sponsor_logos/krs.jpg" alt="KRS logo" class="sponsor-logo" /></a>
      <p>Our staff are amongst the top developers and systems analysts and designers available, and we keep our skills up-to-date through in-depth training programs and our internships. Our interns go through a rigorous selection process, and we provide interns to other companies too.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.hetzner.co.za/"><img src="images/sponsor_logos/hetzner-logo.png" alt="Hetzner logo" class="sponsor-logo" /></a>
      <p>At Hetzner South Africa we are passionate about web hosting - it&#8217;s our core business and it&#8217;s what we do best.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://pluralsight.com/"><img src="images/sponsor_logos/pluralsight-fullcolor-175x39-v3.png" alt="Pluralsight logo" class="sponsor-logo"/></a>
      <p>Pluralsight is the global leader in high-quality online training for hardcore developers and IT professionals. The revolutionary Pluralsight training library provides developers with instant access to a rich collection of online training courses delivered by industry authorities. See what you can learn at <a href="http://pluralsight.com">pluralsight.com</a> and join the @pluralsight community on Twitter.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://pragprog.com/"><img src="images/sponsor_logos/pragprog_logo.png" alt="Pragprog logo" class="sponsor-logo"/></a>
      <p>Our goal is simple: to improve the lives of developers and have done so for 10 years. We create timely, practical books, audio books and videos on classic and cutting-edge topics to help you learn and practice your craft. We're here to make your life easier. Our titles do not contain any Digital Restrictions Management, we pioneered the "beta book" concept; we'll email your ebook to your Kindle and synch your ebooks amongst your devices via Dropbox, and you can re-download your purchases at any time. </p>
      <p class="sponsor-contribution">Free e-books for 5 attendees</p>
    </li>
  </ul>

</section>
