<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.platform45.com/"><img src="images/sponsor_logos/platform45-logo.png" alt="Platform45 logo" class="sponsor-logo" /></a>
      <p>Platform45 develops web applications and consumable APIs using Ruby on Rails. We are specialists in scaling and optimizing applications to ensure peak performance.</p>
      <p class="sponsor-contribution">Free e-books for 5 attendees</p>
    </li>
    <li class="sponsor">
      <a href="http://www.hetzner.co.za/"><img src="images/sponsor_logos/hetzner-logo.png" alt="Hetzner logo" class="sponsor-logo" /></a>
      <p>At Hetzner South Africa we are passionate about web hosting - it&#8217;s our core business and it&#8217;s what we do best.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://pluralsight.com/"><img src="images/sponsor_logos/pluralsight-fullcolor-175x39-v3.png" alt="Pluralsight logo" class="sponsor-logo"/></a>
      <p>Pluralsight is the global leader in high-quality online training for hardcore developers and IT professionals. The revolutionary Pluralsight training library provides developers with instant access to a rich collection of online training courses delivered by industry authorities. See what you can learn at <a href="http://pluralsight.com">pluralsight.com</a> and join the @pluralsight community on Twitter.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://oreilly.com/"><img src="images/sponsor_logos/ORM_logo_box75(lg)_hex.jpg" alt="O'Reilly logo" class="sponsor-logo"/></a>
      <p>O'Reilly spreads the knowledge of innovators through its technology books, online services, magazines, research, and tech conferences. Since 1978, O'Reilly has been a chronicler and catalyst of leading-edge development, homing in on the technology trends that really matter and galvanizing their adoption by amplifying "faint signals" from the alpha geeks who are creating the future. An active participant in the technology community, O'Reilly has a long history of advocacy, meme-making, and evangelism.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
  </ul>

</section>
