<section>

  <h2 id="contact" class="section-header">Contact</h2>

  <p>
    Want to get in touch? You can email us at <a href="mailto:hello@railsbridgecapetown.org">hello@railsbridgecapetown.org</a>, <a href="https://www.meetup.com/RailsBridge-Cape-Town/members/?op=leaders">message us on meetup</a>, find us on Twitter as <a href="https://twitter.com/RailsBridgeCPT">@RailsBridgeCPT</a>, or on <a href="https://zatech.slack.com/messages/railsbridge/">RailsBridge channel of the ZA Tech Slack</a> (you can <a href="http://zatech.co.za">sign yourself up</a> for an account).
  </p>

</section>
