<section>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <p>Our next event will be announced on <a href="http://www.meetup.com/RailsBridge-Cape-Town/">our meetup group</a> and on <a href="http://eepurl.com/zgRA5">our mailing list</a>.</p>

    <h3 id="pastevents">
      Past Events
    </h3>

    <p>We try to run events every three months. We've had them in <a href="/2013-07.html">July</a> and <a href="/2013-10.html">October</a> of 2013, <a href="/2014-01.html">January</a>, <a href="/2014-04.html">April</a>, <a href="/2014-07.html">July</a>, October of 2014, and February and May of 2015. We also had two special events: one for <a href="http://www.girlhype.co.za/">GirlHype</a>, and one for some students at <a href="http://railsbridgecapetown.org/2014/10/20/railsbridge-at-herschel.html">Herschel school</a>.</p>

    <p>Read <a href="/2013/08/01/railsbridge-july-2013-review.html">the July 2013 review</a>, <a href="/2013/11/02/railsbridge-october-2013-review.html">the October 2013 review</a>, <a href="/2014/02/02/railsbridge-january-2014-review.html">the January 2014 review</a>, <a href="/2014/05/02/railsbridge-april-2014-review.html">the April 2014 review</a>, <a href="/2014/08/19/railsbridge-july-2014-review.html">the July 2014 review</a>, or the <a href="/2015/06/04/may-2015-review.html">the May 2015 review</a> to see how things went. Spoiler alert: pretty good, we think!</p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>. The <strong>Intro to Rails</strong> course that we run most often is at <a href="http://docs.railsbridgecapetown.org/intro-to-rails/">docs.railsbridgecapetown.org/intro-to-rails</a>. Our Resources page at <a href="http://docs.railsbridgecapetown.org/workshop/resources">docs.railsbridgecapetown.org/workshop/resources</a> has lots of links for learning about Ruby, Rails, and being a developer.
    </p>

    <p class="cta" id="applyhere"><a href="http://www.meetup.com/RailsBridge-Cape-Town/">Join our meetup group for details of our next event.</a></p>

</section>
