<section>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <h3 id="pastevents">
      Past Events
    </h3>

    <p>We try to run events every three months. We've run our <a href="#past-events">regular events since July 2013</a> and special events for <a href="http://railsbridgecapetown.org/2014/07/17/railsbridge-at-the-bandwidth-barn.html">GirlHype (at the Bandwidth Barn)</a>, <a href="http://railsbridgecapetown.org/2014/10/20/railsbridge-at-herschel.html">Herschel school</a>, and the Women in Computer Science group at <abbr title="University of Cape Town">UCT</abbr>. We also try and write up <a href="#reviews">short reviews (with photos!) of each event</a>.</p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>. The <strong>Intro to Rails</strong> course that we run most often is at <a href="http://docs.railsbridgecapetown.org/intro-to-rails/">docs.railsbridgecapetown.org/intro-to-rails</a>. Our Resources page at <a href="http://docs.railsbridgecapetown.org/workshop/resources">docs.railsbridgecapetown.org/workshop/resources</a> has lots of links for learning about Ruby, Rails, and being a developer.
    </p>

    <p class="cta" id="applyhere"><a href="http://www.meetup.com/RailsBridge-Cape-Town/">Join our meetup group for details of our next event.</a></p>

</section>
