<section class="section">

  <div class="hero">
    <h1>Learn to code or level up with RailsBridge!</h1>

    <p>RailsBridge workshops are a free and fun way to get started or level up with Rails, Ruby, and other web technologies. Our events focus on increasing diversity in tech, so that people of all backgrounds can feel welcome and comfortable in our industry.</p>
  </div>

  <p>The RailsBridge Workshops are <strong>free courses</strong> run by a volunteer team of <strong>experienced and enthusiastic developers</strong>. The courses cover an introduction to programming concepts, the available tools, Rails, Ruby, and HTML &amp; CSS.</p>

  <p>The workshops are targeted at <strong>groups of people that are underrepresented in tech</strong>. The workshops teach <strong>practical skills</strong> useful to those investigating new career paths, looking to compliment their current skill set, or simply interested in gaining a better understanding of software.</p>
 

  <p>You should be comfortable using a computer, but <strong>no programming experience or hardware expertise is required</strong>. You should have your own laptop to bring along. Mac, Windows, and Linux machines are all welcome.</p>

  <h3 id="theworkshop">The Workshop</h3>

  <p>
    Here's what a RailsBridge <strong>Intro to Rails</strong> event is like.
  </p>

  <ul>
    <li>
      an <strong>InstallFest</strong> on Friday night where we help you <strong>set up your computer with the software you&#8217;ll need</strong>. We provide drinks and snacks.
    </li>
    <li>
      an all-day <strong>Workshop</strong> on Saturday where you&#8217;ll <strong>learn to use both Ruby and Rails to build and publish a web application</strong>. We provide breakfast and lunch.
    </li>
  </ul>

  <p>
    You&#8217;ll be given sufficient background and confidence to continue developing their Rails skills independently. We&#8217;ll be teaching in English and Afrikaans.
  </p>

  <p>The Friday night InstallFest is about software, snacks, and sharing. It's about unwinding from your day and preparing for the next day's adventure.</p>

  <p>The Saturday workshop is quite informal. You'll work through <a href="http://docs.railsbridgecapetown.org/">the documentation</a> at your own pace, asking questions and getting answer from yourself, the other attendees, and from teachers who are close by in case you would like some help.</p>

  <p>We've been going for a while now! Read our reviews of the <a href="/2013/08/01/railsbridge-july-2013-review.html">July 2013</a>, <a href="/2013/11/02/railsbridge-october-2013-review.html">October 2013</a>, <a href="/2014/02/02/railsbridge-january-2014-review.html">January 2104</a>, <a href="/2014/05/02/railsbridge-april-2014-review.html">April 2014</a>, <a href="/2014/08/19/railsbridge-july-2014-review.html">July 2014</a>, and <a href="/2015/06/04/may-2015-review.html">May 2015 events</a> for more information, a few photos, and to see what the students thought about the workshop.</p>

  <p class="cta"><a href="http://www.meetup.com/RailsBridge-Cape-Town/">Join our meetup group for details of our next event.</a></p>

  <p>
    You can also <a href="http://eepurl.com/zgRA5">Join our mailing list for updates on RailsBridge Cape Town</a>, or follow us on Twitter <a href="https://twitter.com/RailsBridgeCPT">@RailsBridgeCPT</a>.
  </p>

  <h3>About Ruby and Rails</h3>

  <p>
    <a href="http://www.ruby-lang.org/en/">Ruby</a> is a free, open source programming language with a focus on simplicity and productivity. <a href="http://rubyonrails.org/">Ruby on Rails</a> is a web application framework: a reusable set of shortcuts that help you build dynamic web sites.
  </p>

</section>
