<section class="section">

  <div class="hero">
    <h1>Get started coding with RailsBridge!</h1>

    <p>RailsBridge workshops are a <strong>free</strong> and fun way to get started or level up with Rails, Ruby, and other web technologies. Our events focus on increasing diversity in tech, so that people of all backgrounds can feel welcome and comfortable in our industry.</p>
  </div>

  <p><span id="eligibility-criteria">RailsBridge Workshops are <strong>free courses</strong> targeted at <strong>groups of people that are underrepresented in tech</strong>.</span> The courses cover an introduction to programming concepts, the available tools, Rails, Ruby, HTML, CSS, and JavaScript.</p>

  <p>A RailsBridge workshop is for you if you want to learn some practical skills and <strong>start learning to code</strong>, <strong>level up your skills</strong>, or <strong>connect with our volunteer team of experienced and enthusiastic developers</strong>. Read more at our <a href="/is-this-workshop-for-you.html">Is this workshop for you?</a>.</p>

  <p>You should be comfortable using a computer, but <strong>no programming experience or hardware expertise is required</strong>. You should have your own laptop to bring along. Mac, Windows, and Linux machines are all welcome.</p>

</section>
