<section class="section">

  <div class="hero">
    <h1>Learn to code or level up with RailsBridge!</h1>

    <p>RailsBridge workshops are a free and fun way to get started or level up with Rails, Ruby, and other web technologies. Our events focus on increasing diversity in tech, so that people of all backgrounds can feel welcome and comfortable in our industry.</p>
  </div>

  <p>The RailsBridge Workshops are <strong>free courses</strong> run by a volunteer team of <strong>experienced and enthusiastic developers</strong>. The courses cover an introduction to programming concepts, the available tools, Rails, Ruby, and HTML &amp; CSS.</p>

  <p><span id="eligibility-criteria">The workshops are targeted at <strong>groups of people that are underrepresented in tech</strong></span>. The workshops teach <strong>practical skills</strong> useful to those investigating new career paths, looking to compliment their current skill set, or simply interested in gaining a better understanding of software.</p>


  <p>You should be comfortable using a computer, but <strong>no programming experience or hardware expertise is required</strong>. You should have your own laptop to bring along. Mac, Windows, and Linux machines are all welcome.</p>

</section>
