<nav id="nav" class="nav">
  <h4>Navigation</h4>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
    <li><a href="/resources.html">Resources</a></li>
    <li><a href="mailto:hello@railsbridgecapetown.org">Contact</a></li>
  </ul>
</nav>

<nav id="misc" class="nav-alt">
  <h4>Alumni and Activites</h4>
  <li><a href="/2014/07/22/railsbridge-alumni-concetta.html">RailsBridge Alumni: Concetta</a></li>
  <li><a href="/activities.html">Training activities that we use</a></li>
</nav>

<nav id="past-events" class="nav-alt">
  <h4>Past Events</h4>
  <ul>
    <li><a href="/2013-07.html">July 2013</a></li>
    <li><a href="/2013-10.html">October 2013</a></li>
    <li><a href="/2014-01.html">January 2014</a></li>
    <li><a href="/2014-04.html">April 2014</a></li>
    <li><a href="/2014-07.html">July 2014</a></li>
    <li><a href="http://www.meetup.com/RailsBridge-Cape-Town/events/197960932/">October 2014</a></li>
    <li><a href="http://www.meetup.com/RailsBridge-Cape-Town/events/220256673/">February 2015</a></li>
    <li><a href="http://www.meetup.com/RailsBridge-Cape-Town/events/221648814/">May 2015</a></li>
    <li><a href="http://www.meetup.com/RailsBridge-Cape-Town/events/222990646/">September 2015</a></li>
    <li><a href="http://www.meetup.com/RailsBridge-Cape-Town/events/226963043/">December 2015</a></li>
  </ul>
</nav>

<nav id="past-events-special" class="nav-alt">
  <h4>Special past events</h4>
  <ul>
    <li><a href="/2014/07/17/railsbridge-at-the-bandwidth-barn.html">Bandwidth Barn School of Coding</a></li>
    <li><a href="/2014/10/20/railsbridge-at-herschel.html">Herschel school</a></li>
    <li><a href="/2015/08/10/railsbridge-at-uct.html">University of Cape Town</a></li>
  </ul>
</nav>


<nav id="reviews" class="nav-alt">
  <h4>Our reviews of past events</h4>
  <ul>
    <li><a href="/2013/08/01/railsbridge-july-2013-review.html">July 2013 review</a></li>
    <li><a href="/2013/11/02/railsbridge-october-2013-review.html">October 2013 review</a></li>
    <li><a href="/2014/02/02/railsbridge-january-2014-review.html">January 2014  review</a></li>
    <li><a href="/2014/05/02/railsbridge-april-2014-review.html">April 2014  review</a></li>
    <li><a href="/2014/05/25/pictures-from-april-2014.html">Pictures from April 2014</a></li>
    <li><a href="/2014/08/19/railsbridge-july-2014-review.html">July 2014 review</a></li>
    <li><a href="/2015/06/04/may-2015-review.html">May 2015 review</a></li>
    <li><a href="/2015/09/28/railsbridge-september-2015-review.html">September 2015 review</a></li>
  </ul>
</nav>
