<section class="section">

  <h3 id="theworkshop">Our Workshops</h3>

  <p>Our list of courses lives at <a href="https://docs.railsbridgecapetown.org/docs/">docs.railsbridgecapetown.org</a>. You can start learning:</p>

  <ul>
      <li><strong>HTML, CSS, and JavaScript</strong>: the building blocks of the web with our <a href="https://docs.railsbridgecapetown.org/frontend">Front-end</a> course;</li>
      <li><strong>Ruby and Rails</strong> to build and publish a web application with our <a href="https://docs.railsbridgecapetown.org/intro-to-rails">Intro to Rails</a> course;</li>
      <li>more about Ruby and Rails and stretch your skills with our <a href="https://docs.railsbridgecapetown.org/job-board">Job Board</a> or <a href="https://docs.railsbridgecapetown.org/message-board">Message Board</a> courses.</li>
      <li>and <a href="https://docs.railsbridgecapetown.org/docs/">more</a>! :)</li>
  </ul>

  <p>Each event is an all-day, informal, <strong>workshop on a Saturday</strong>. We provide breakfast and lunch. You'll <strong>work through the documentation at your own pace</strong>, asking questions and getting answer from yourself, the other attendees, and from teachers who are close by in case you would like some help. If you need it for the course, <strong>we'll help you set up your computer with the software you&#8217;ll need</strong>.</p>

  <p>You&#8217;ll be given sufficient background and confidence to continue developing your skills independently.</p>

  <p class="cta"><a href="http://www.meetup.com/RailsBridge-Cape-Town/">Join our meetup group for details of our next event.</a></p>

  <p>You can also follow us on Twitter <a href="https://twitter.com/RailsBridgeCPT">@RailsBridgeCPT</a>.</p>

  <h3>About Ruby and Rails</h3>

  <p>
    <a href="http://www.ruby-lang.org/en/">Ruby</a> is a free, open source programming language with a focus on simplicity and productivity. <a href="http://rubyonrails.org/">Ruby on Rails</a> is a web application framework: a reusable set of shortcuts that help you build dynamic web sites.
  </p>

</section>
