<section>

  <h2 id="railsbridge.org" class="section-header">Railsbridge.org</h2>

  <p><a href="http://railsbridge.org">RailsBridge</a> is working to make tech more diverse and welcoming by teaching programming, connecting human beings, and listening to people's needs.</p>

  <p>RailsBridge needs your help! You could:</p>

  <ul>
    <li>
      Attend a workshop.
    </li>
    <li>
      Tell a woman you know about RailsBridge, and encourage her to attend a workshop.
    </li>
    <li>
      Teach at a workshop.
    </li>
    <li>
      Contribute to <a href="https://github.com/RailsBridge-CapeTown/docs">the curriculum or InstallFest instructions on GitHub</a>.
    </li>
    <li>
      Speak up for diversity in tech in your office or community.
    </li>
    <li>
      <a href="mailto:hello@railsbridgecapetown.org?subject=I want to help!">Join us!</a>
    </li>
  </ul>

  <p>
    Follow us on Twitter <a href="https://twitter.com/RailsBridgeCPT">@RailsBridgeCPT</a>
  </p>

</section>
