<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.siyelo.com/"><img src="siyelo-logo.png" width="215" height="110" alt="Siyelo logo" class="sponsor-logo" /></a>
      <p>At Siyelo, we help build new companies, and improve the technology of existing ones.</p>
      <p class="sponsor-contribution">Venue and Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.unboxedconsulting.com/"><img src="unboxed-logo.png" alt="Unboxed Consulting logo" class="sponsor-logo" /></a>
      <p>The largest Ruby on Rails development agency in London and Cape Town.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.hetzner.co.za/"><img src="hetzner-logo.png" alt="Hetzner logo" class="sponsor-logo" /></a>
      <p>At Hetzner South Africa we are passionate about web hosting - it&#8217;s our core business and it&#8217;s what we do best.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
  </ul>

</section>