<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.siyelo.com/"><img src="siyelo-logo.png" width="215" height="110" alt="Siyelo logo" class="sponsor-logo" /></a>
      <p>At Siyelo, we help build new companies, and improve the technology of existing ones.</p>
      <p class="sponsor-contribution">Venue and Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.unboxedconsulting.com/"><img src="unboxed-logo.png" alt="Unboxed Consulting logo" class="sponsor-logo" /></a>
      <p>The largest Ruby on Rails development agency in London and Cape Town.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.hetzner.co.za/"><img src="hetzner-logo.png" alt="Hetzner logo" class="sponsor-logo" /></a>
      <p>At Hetzner South Africa we are passionate about web hosting - it&#8217;s our core business and it&#8217;s what we do best.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.leagueofbeers.com/"><img src="
        league-of-beers-logo.png" alt="League of Beers logo" class="sponsor-logo" style="background-color: #333; padding: 1em" /></a>
      <p>League of Beers is an online craft beer store with a mission to bring the finest range of local and international craft beer to the South African craft beer community.</p>
      <p class="sponsor-contribution">Refreshments and prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://pluralsight.com/"><img src="pluralsight-fullcolor-175x39-v3.png" alt="Pluralsight logo" class="sponsor-logo"/></a>
      <p>We are a group of serious developers. We are also committed to creating the best training available. This mix of training for developers, by developers is what rings true to our customers.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
  </ul>

</section>
