<section class="sponsors">

  <h2 id="sponsors" class="section-header">Sponsors</h2>

  <ul class="sponsors-list">
    <li class="sponsor">
      <a href="http://www.siyelo.com/"><img src="siyelo-logo.png" width="215" height="110" alt="Siyelo logo" class="sponsor-logo" /></a>
      <p>At Siyelo, we help build new companies, and improve the technology of existing ones.</p>
      <p class="sponsor-contribution">Venue and Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.unboxedconsulting.com/"><img src="unboxed-logo.png" alt="Unboxed Consulting logo" class="sponsor-logo" /></a>
      <p>The largest Ruby on Rails development agency in London and Cape Town.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.hetzner.co.za/"><img src="hetzner-logo.png" alt="Hetzner logo" class="sponsor-logo" /></a>
      <p>At Hetzner South Africa we are passionate about web hosting - it&#8217;s our core business and it&#8217;s what we do best.</p>
      <p class="sponsor-contribution">Monetary support</p>
    </li>
    <li class="sponsor">
      <a href="http://www.leagueofbeers.com/"><img src="
        league-of-beers-logo.png" alt="League of Beers logo" class="sponsor-logo" style="background-color: #333; padding: 1em" /></a>
      <p>League of Beers is an online craft beer store with a mission to bring the finest range of local and international craft beer to the South African craft beer community.</p>
      <p class="sponsor-contribution">Refreshments and prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://pluralsight.com/"><img src="pluralsight-fullcolor-175x39-v3.png" alt="Pluralsight logo" class="sponsor-logo"/></a>
      <p>
      Pluralsight is a global leader in high-quality online training for hardcore developers and IT pros. Pluralsight provides flexible and cost-effective subscription plans for individuals and businesses.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://pragprog.com/"><img src="pragprog_logo.png" alt="Pragprog logo" class="sponsor-logo"/></a>
      <p>Our goal is simple: to improve the lives of developers and have done so for 10 years. We create timely, practical books, audio books and videos on classic and cutting-edge topics to help you learn and practice your craft. We're here to make your life easier. Our titles do not contain any Digital Restrictions Management, we pioneered the “beta book” concept; we’ll email your ebook to your Kindle and synch your ebooks amongst your devices via Dropbox, and you can re-download your purchases at any time. </p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
    <li class="sponsor">
      <a href="http://graffica.co/"><img src="graffica_logo_small.png" alt="Graffica logo" class="sponsor-logo"/></a>
      <p></p>
      <p class="sponsor-contribution">Stickers and badges</p>
    </li>
    <li class="sponsor">
      <a href="http://www.oreilly.com/"><img src="OReillyLogo300x70.png" alt="O'Reilly logo" class="sponsor-logo"/></a>
      <p>O'Reilly Media spreads the knowledge of innovators through its books, online services, magazines, research, and conferences. Since 1978, O'Reilly has been a chronicler and catalyst of leading-edge development, homing in on the technology trends that really matter and galvanizing their adoption by amplifying "faint signals" from the alpha geeks who are creating the future. An active participant in the technology community, the company has a long history of advocacy, meme-making, and evangelism.</p>
      <p class="sponsor-contribution">Prizes</p>
    </li>
  </ul>

</section>
