<section itemscope itemtype="http://schema.org/Event">

  <h1 itemprop="name" class="hidden">
    RailsBridge Cape Town - October 2013
  </h1>

  <h2 id="whenwhere" class="section-header">
    When &amp; Where
  </h2>

    <p>
      Our October event will start on
     <span itemprop="startDate" content="2013-10-25T18:00">Friday 25th October 2013 at 6pm</span>: full details below.
    </p>

    <div itemscope itemtype="http://schema.org/subEvents">

      <h3 itemprop="name" id="installfest">
        InstallFest
      </h3>

      <p itemprop="startDate" content="2013-10-25T18:00">
        <strong>Friday 25th October 2013, 6pm - 9pm</strong>
      </p>

      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        The InstallFest will take place at
        <span itemprop="name">
          Siyelo
        </span>,
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            Suite #1, 4th Floor,
            79 Roeland Street
          </span>
        </span>,
        <span itemprop="addressLocality">Cape Town</span>.
      </p>

    </div>

    <div itemscope itemtype="http://schema.org/subEvents">

      <h3 itemprop="name" id="workshop">Workshop</h3>

      <p itemprop="startDate" content="2013-10-26T09:00"><strong>Saturday 26th October 2013, 9am - 6pm</strong></p>

      <p>Breakfast and lunch will be served.</p>

      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        The Workshop will take place at <span itemprop="name">Siyelo</span>,
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            Suite #1, 4th Floor,
            79 Roeland Street
          </span>
        </span>,
        <span itemprop="addressLocality">Cape Town</span>.</p>
    </div>

    <p>
      <a href="http://g.co/maps/7xbpg">Google Map for Siyelo</a>
    </p>

    <h3>Documentation</h3>

    <p>
      All the documentation is online at
      <a href="http://docs.railsbridgecapetown.org/">docs.railsbridgecapetown.org</a>.
      This workshop will consist of the
      <a href="http://docs.railsbridgecapetown.org/installfest/">InstallFest</a> and
      <a href="http://docs.railsbridgecapetown.org/curriculum/">"classic" curriculum</a>.</p>

    <p class="cta" id="applyhere">
      <a href="http://eepurl.com/zgRA5">Join our mailing list for updates on RailsBridge Cape Town</a>
    </p>

    <div itemscope itemtype="http://schema.org/subEvents">

      <h3 itemprop="name" id="pastevents">
        Past Events
      </h3>

      <p>
          Our
        <a href="2013-07.html">
          July workshop
        </a> was a great success!
        <a href="http://railsbridgecapetown.org/2013/08/01/railsbridge-july-2013-review.html">
          Read our review
        </a> of how things went.
      </p>

    </div>

</section>