
<section>

  <h2 id="why" class="section-header">Why</h2>

  <p>We want to push for all kinds of diversity in the Cape Town tech community: gender, race, sexual orientation, ability, and class. Women were the first population that RailsBridge focused on, but aren't the last.</p>

  <p>We believe that the people making technology should accurately reflect the diversity of those using it.</p>

  <p>We want to show how programming skills can be useful, empowering, and fun, particularly when applied to the web.</p>

  <p>We want to bring more people into the local Ruby community, and encourage more user groups to think about diversity and outreach.</p>

  <p>We want to provide people new to programming with access to a diverse network of smart, capable programmers.</p>

</section>