
<section>

  <h2 id="why" class="section-header">Why</h2>

  <p>
    We would like to help improve diversity and the gender ratio in the Cape Town tech community.
  </p>

  <p>
    We want to show how programming skills can be useful, empowering, and fun, particularly when applied to the web.
  </p>

  <p>
    We want to bring more people into the local Ruby community, and encourage more user groups to think about diversity and outreach.
  </p>

  <p>
    We want to provide people new to programming with access to a diverse network of smart, capable programmers.
  </p>

</section>